@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('./base.css');

:root{
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Roboto', sans-serif;
    color: var(--grey-700);

    --active: #02799D;
    --grey-300: #E1E1E6;
    --grey-700: #323238;
    --white: #FFF;
}
