/* font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%; /* 1rem = 10px */
    --bg-color:#040924;
    --bg-alert: #F03E3E;
    --bg-input:#DCE2E9;
    
    --tt-title:#0C3440;
    
    --green-one:#00453A;
    --grey-one:rgba(73, 80, 87, 0.30);
    --blue-one:#02799D;
}

.hide{
    display: none !important;
}

body{
    background: var(--bg-color);
    font-family: 'Roboto', sans-serif;
}

.app{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container{
    height: 100%;
    display: grid;
    place-content: center;

    position:relative   
}

.card{
    margin-inline: auto;

    background:#FFF;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    border-radius: 6px;


    display: flex;
    flex-direction: column;    
    
    max-width: 42rem;
}

form{
    display: grid;
    gap: 1.6rem;
}

form button{
    margin-top: 3.2rem;
}

h1{
    margin-bottom: 3.2rem;
}

.inputBox{
    display: grid;
    grid-template-rows: calc(2, 1fr);
    gap: 8px;
}

.inputBox label{
    color: var(--green-one);
    font-size:1.4rem;
    line-height:1.8rem;
    font-weight:400;
}

.inputBox input{
    font-size: 1.6rem;
    line-height:2rem;
    color: #212529;

    padding: 1.6rem;
    border-radius: 4px;
    background:var(--bg-input);
    border: 1px solid var(--grey-one);
}

.inputBox input:focus{
    border: 1px solid var(--blue-one);
}

.card button{
    background-color: var(--blue-one);
    border-radius: 4px;
    color: #FFF;
    border: none;

    width: 100%;
    height:5.2rem;
    padding: 1.6rem;

    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
}

.modalResponse{
    position: relative;
}

.modalResponse img{
    position: absolute;
    right: 0;
    top: 0;

    margin: 1rem;
    gap: 0 !important;
}

.alert{
    width: 100vw;
    background-color: var(--bg-alert);
    padding: .8rem 0%;
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;

    transition: .5s;

    margin-top:-4rem;
}

.open{
    margin-top:0;
}


.alert p{
    font-weight: 700;
    font-size: 1.6rem;
    line-height:2rem;
    color: white;
}