*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62.5%; /*1rem = 10px*/

    --white: #FFF;
    --tt-base: #C4C4CC;
    --tt-title: #E1E1E6;
    --tt-active: #02799D;
}

body{
    font-size: 1.6rem;
    width: 100vw;
    height: 100vh;

    display: grid;
    align-items: start;
    justify-content: center;
}

header{
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: left;
    gap: 32;

    padding: 4rem 0 4rem 7.2rem;
}

