/*
    Fontes

    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto-Mono' sans-serif

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5% /*1rem = 10px*/;

    --hue: 0;
    --bg-dark: hsl(var(--hue), 0%, 0%);
    --bg-light: hsl(var(--hue), 0%, 100%);

    --bg-primary:hsl(195, 91%, 25%);
    --bg-secondary:hsl(191, 65%, 7%);
    --bg-third:  	hsl(194, 72%, 13%);
    --bg-hover:var(var(--bg-light));

    --tt-default: hsl(var(--hue), 0%, 100%);
    --tt-secondary:hsl(189, 4%, 32%);
    --tt-hover: var(--bg-primary);

    --red: hsl(355, 91%, 66%);
    --grey: hsl(240, 6%, 51%);
}

body{
    color: var(--tt-default);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.app{
    width: 100vw;

    background-color: var(--bg-dark);

    padding: 10% 10vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}   

header{
    width: 110rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: .8rem;
}

header input{
    background-color: var(--bg-secondary);
    border-radius: .5rem;
    border: none;

    padding: 1.6rem;
    width: 40rem;
    transition: .2s;
}

header input:focus,
header input:hover{
    outline: none;
    filter: brightness(110%);
}

header input::placeholder{
    color: var(--grey);
}

header button{
    border: none;
    background-color: var(--bg-primary);
    border-radius: .5rem;

    color: var(--bg-light);
    padding: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    cursor: pointer;
    transition: .2s;
}

header button:hover,
header button:focus{
    background-color: var(--bg-light);
    color: var(--tt-hover);
}

table{
    margin-top: 8.7rem;
    border-collapse: collapse;

    width: 100%;
}

th{
    background-color: var(--bg-third);
    padding: 1.6rem 4rem;
}

th:first-child{
    border-radius: .5rem 0rem 0rem 0rem;
}

th:last-child{
    border-radius: 0rem .5rem 0rem 0rem;
}

tbody{
    background-color: var(--bg-secondary);
}

tbody h2{
    color: var(--grey);
    min-height: 30rem;
}
