/*
    Fontes

    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto-Mono' sans-serif

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5% /*1rem = 10px*/;

    --hue: 0;
    --bg-dark: hsl(var(--hue), 0%, 0%);
    --bg-light: hsl(var(--hue), 0%, 100%);

    --bg-primary:hsl(195, 91%, 25%);
    --bg-secondary:hsl(191, 65%, 7%);
    
    --bg-tt-default: hsl(240, 9%, 89%);
    --bg-table-primary:hsla(194, 64%, 6% , 0.5);

    --bg-third:hsl(194, 72%, 13%);

    --bg-hover:var(var(--bg-light));

    --tt-default: hsl(var(--hue), 0%, 100%);
    --tt-secondary:hsl(189, 4%, 32%);
    --tt-hover: var(--bg-primary);

    --red: hsl(355, 91%, 66%);
    --grey: hsl(240, 6%, 51%);
}

body{
    color: var(--tt-default);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.app{
    width: 100vw;
    min-height: 100vh;

    background-color: var(--bg-dark);

    padding: 10% 10vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}   

header{
    width: 100%;
    max-width: 110rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: .8rem;
}

header input{
    background-color: var(--bg-secondary);
    border-radius: .5rem;
    border: none;

    padding: 1.6rem;
    width: 40rem;
    transition: .2s;
    color: var(--grey);
}

header input:focus,
header input:hover{
    outline: none;
    filter: brightness(110%);
}

header input::placeholder{
    color: var(--grey);
}

header button{
    border: none;
    background-color: var(--bg-primary);
    border-radius: .5rem;

    color: var(--bg-light);
    padding: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    cursor: pointer;
    transition: .2s;
}

header button:hover,
header button:focus{
    background-color: var(--bg-light);
    color: var(--tt-hover);
}

table{
    margin-top: 8.7rem;
    border-collapse: collapse;

    width: 100%;
    border-radius:.5rem;
}

th{
    background-color: var(--bg-third);
    padding: 1.6rem 0rem 1.6rem 0rem;
    text-align: left;
}

th:first-child{
    border-radius: .5rem 0rem 0rem 0rem;
    padding-left:4rem ;
}

th:last-child{
    border-radius: 0rem .5rem 0rem 0rem;
}

tbody{
    background-color: var(--bg-secondary);
    width: 100% !important;
}

tbody h2{
    color: var(--grey);
    min-height: 30rem;
}

tbody tr:nth-child(even){
    background-color: var(--bg-table-primary);
}

tbody tr:nth-child(odd){
    background-color: var(--bg-secondary);
}

td div{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    margin-left: 4rem;
    padding: 2.4rem 0%;
}

.not-favorites{
    width: 100%;
}

.not-favorites div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    margin: 10% auto;
}

.not-favorites div p{
    color: var(--grey);
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Roboto-Mono', sans-serif;
}

.infos,
.remove{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;

}

.user{
    flex-direction: column;
}

.user a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    text-decoration: none;
    font-size: 2rem;
    color: var(--bg-tt-default);
}

.user a p{
    font-weight: 800;
}

.user a span{
    font-weight: 400;
}

.user img{
    width: 5.6rem;
    border-radius:50%;
}

.remove{
    background-color: transparent;
    border: none;
    cursor: pointer;


    color: var(--red);
    font-weight: 800;
    font-size: 2rem;
}