/*
    Fontes:
        font-family: 'Poppins', sans-serif;
        font-family: 'Staatliches', cursive.
*/

*{
    margin:0;
    padding: 0;
}

body{
    background: #BFD7E4;
    font-family:'Poppins', sans-serif;
}

body::before{
    content: '';
    display: block;
    background: #293241;
    position: absolute;
    z-index: -1;
    height: 465px;
    width: 100%;
}

.page{
    width: 750px;
    margin: 0 auto;
}

header{
    padding-top: 106px;
    width: 100%;

    text-align: center;
    color:white;
    margin-bottom: 32px;
}

header h1{
    font-family:'Staatliches', cursive;
}

header p{
    height: 46px;
}

form::before{
    content:'INFORMAÇÕES PESSOAIS';
    display:block;

    text-align: center;
    font-family:'Staatliches', cursive; 
    color: white;
    font-size: 24px;
    line-height: 34px;

    background: #F67669;
    border-radius: 20px 20px 0px 0px;
    
    padding: 50px 0%;
}

form{
    background: #FFF;
    border-radius: 20px;
    margin-bottom:392px;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
}

legend{
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    line-height: 34px;
    color:#253B51;

    text-align: center;

    margin:30px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #E6E6F0;
    width: 100%;
}

.conteudo{
    padding: 30px 64px 64px 64px;
}

.campo{
    display: flex;
    flex-direction:column;
    align-items: start;
    justify-content: center;
}

.campo label{
    color: #4E4958;
    font-family: 'Poppins';
    font-size:14px;
    font-weight:400;
    line-height:24px;   

    margin-bottom:8px;
}

.campo label span{
    color: #C1BCCC;
    font-size: 12px;
    line-height:20px;
    margin-left: 9px;
}

.campo label span:hover{
    color:#4E4958;
}

.campo input, select{
    border-radius:8px;
    border: 1px solid var(--back-lines-in-white, #E6E6F0);
    background: var(--shapes-02, #FAFAFC);
    height: 56px;
    box-sizing: border-box;
    padding: 5px;
}

.campo input:hover, input:focus, select:hover, select:focus{
    outline: 1px solid black;
}

.nome input, .sobrenome input{
    width: 300px;
}

.email input{
    width:622px;
}

.mentor select{
    width: 300px;
}

.feedback input{
    width:608px;
    height:167px;
}

.data input{
    width: 300px;
}

.sessao-3{
    gap:25px;
}

.hora{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.horario-inicial input, .horario-final input{
    width:140px;
}

input[type=submit]{
    background:#F67669;
    border-radius:8px;
    border:none;

    color:white;
    font-size:20px;
    font-family:'Staatliches', cursive;
    line-height:26px;
    
    padding: 15px 0px;
    width: 100%;
    margin-top:64px;
}

.duvidas{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: start;

    position: relative;
}

.duvidas label{
    margin: 0 0 0 24px;
    display: flex;
}

.duvidas input{
    opacity: 0; 
}

.duvidas label::before {
    content: '';
    display: block;
    border-radius:8px;
    border: 1px solid var(--back-lines-in-white, #E6E6F0);
    background: var(--shapes-02, #FAFAFC);
    height: 24px;
    width: 24px;

    position: absolute;
    left: 0;
}

.duvidas input:focus + label::before{
    outline: 1px solid black;
}

.duvidas input:checked + label::before{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 -4 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='a'%3E%3Cstop stop-color='%231DD47F' offset='0%25'/%3E%3Cstop stop-color='%230DA949' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M714.443 40.627c.743.795.743 2.06 0 2.855l-16.696 17.891a1.944 1.944 0 0 1-1.65.614 1.944 1.944 0 0 1-1.496-.624l-9.044-9.692a2.108 2.108 0 0 1 0-2.855 1.938 1.938 0 0 1 2.854 0l7.768 8.324 15.41-16.513a1.938 1.938 0 0 1 2.854 0Z' transform='translate(-685 -40)' fill='url(%23a)'/%3E%3C/svg%3E");
}